* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(230, 17%, 14%);
}

header {
  background-color: hsl(232, 19%, 15%);
  padding: 2rem 2rem 6rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: .69rem;
}

.text {
  font-size: 1.4rem;
  margin-bottom: 1.7rem;
  color: hsl(228, 34%, 66%);
  font-weight: 700;
}

.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 2rem 0;
  border-top: 1px solid hsl(228, 12%, 44%);
}

.mode {
  color: hsl(228, 34%, 66%);
  font-size: 1.5rem;
  font-weight: 700;
}

input {
  width: 4rem;
  height: 2rem;
  background: linear-gradient(94deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  appearance: none;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  position: relative;

}

input::before {
  content: '';
  background-color: hsl(228, 28%, 20%);
  position: absolute;
  left: 2px;
  top: 45%;
  transform: translateY(-45%);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}

input:checked::before {
  content: '';
  position: absolute;
  left: auto;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-color: hsl(227, 47%, 96%);
}

main {
  z-index: 10;
  transform: translateY(-4rem);
}

.upper-container,
.lower-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.8rem;
}

.card,
.small-card {
  width: 90%;
  background-color: hsl(228, 28%, 20%);
  padding: 2rem 0;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  transition: background-color .2s ease-in-out;
}

.card:hover,
.small-card:hover {
  background-color: hsla(228, 34%, 66%, .45);
}

.card::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-facebook::before {
  background-color: hsl(208, 92%, 53%);
}

.card-twitter::before {
  background-color: hsl(203, 89%, 53%);
}

.card-insta::before {
  background: linear-gradient(94deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.card-youtube::before {
  background-color: hsl(348, 97%, 39%);
}

.icon-name,
.change {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  margin: 1rem 0;
}

.name {
  font-size: 1.4rem;
  color: hsl(228, 34%, 66%);
}

.follower-number {
  display: block;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1px;
  margin-bottom: .5rem;
}

.follower {
  color: hsl(228, 13%, 53%);
  text-transform: uppercase;
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
  letter-spacing: 4.5px;
  font-weight: 400;
}

.diff-up {
  color: hsl(163, 72%, 41%);
}

.diff-down {
  color: hsl(356, 69%, 56%);
}

.diff-up,
.diff-down {
  font-size: 1.4rem;
}

.sub-title {
  color: hsl(0, 0%, 100%);
  margin: 2rem 0 2rem 2rem;
  font-size: 1.9rem;
}

.small-card {
  padding: 2rem;
}

.first-line,
.last-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.card-text {
  color: hsl(228, 34%, 66%);
  font-size: 1.4rem;
  font-weight: bold;
}

.num {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
}

.percent-down,
.percent-up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
  font-size: 1.4rem;
}

.percent-down {
  color: hsl(356, 69%, 56%);
}

.percent-up {
  color: hsl(163, 72%, 41%);
}

footer {
  text-align: center;
  color: hsl(228, 34%, 66%);
  padding: 0 2rem;
  margin: 1rem 0;
  font-size: 1.4rem;
}

.line-one,
.line-two {
  display: block;

}

footer a {
  color: hsl(0, 0%, 100%);
}

footer a:hover {
  color: hsl(203, 89%, 53%);
}

@media (min-width: 600px) {

  .upper-container,
  .lower-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 900px) {
  header {
    width: 100%;
    padding: 2rem 0 6rem;
  }

  .heading {
    max-width: 110rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  .toggle-btn {
    border-top: none;
    gap: 2rem;
  }

  main {
    max-width: 110rem;
    margin: auto;
  }

  .upper-container,
  .lower-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .card,
  .small-card {
    width: 100%;
  }

  .line-one,
  .line-two {
    display: inline-block;
  }
}